# The for loop

for iterator in sequence:
    statements

A for loop in Python is used for iterating over a sequence, which can be a list, a tuple, a dictionary, a set, or a string

In [69]:
students = ["ajay", "ranjan", "chaitanya"]
type(students)

list

In [68]:
# parse a list
students = ["ajay", "ranjan", "chaitanya"]
for s in students:
    print(s)

ajay
ranjan
chaitanya

In [50]:
# Exercise:
# following people are celebrating their birthday today. generate personalized greetings
# Anand, Bhaskar, Richie, Sandeep, Manoj

In [72]:
# parse a string
greeting = "hello world"
for i in greeting:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [ ]:
# Exercise: take a string and reverse it using for loop

In [51]:
# Exercise
# print multiple tables of a given number from 1 to 16
# example, if number is 2 then 2 x 1 = 2, 2 x 2 = 4 .... 2 x 16 = 32

In [53]:
# Exercise
# Write a Python program to find those numbers which are divisible by 7 and multiple of 5, 
# between 1500 and 2700 (both included)

In [ ]:
loop
    check for divisibility by 5
        check for divisibility by 7
            print number

In [72]:
# Exercise
# Generate the first 10 numbers of the Fibonacci series
# Every next number is found by adding up the two numbers before it.
# Expected Output : 1 1 2 3 5 8 13 21 34 55

# hint: start with initial values of 0 and 1 to produce the first number. then update them to produce subsequent numbers.

In [1]:
# rewrite this using for loop

In [46]:
first = 0
second = 1
while (second < 100):
    next = first + second
    print (second)
    first = second
    second = next

1
1
2
3
5
8
13
21
34
55
89

In [ ]:
# Exercise
# sum of numbers from 1,2,3,...n is given by the formula n*(n+1)/2
# verify this

# take n as 20, calculate using formula and verify using while loop

55
55.0

In [26]:
# Exercise:
# using a for loop, count the number of letters in the word - Programming

In [51]:
# the range function can be invoked to create a sequence of n numbers using range(n). starts with 0.
# it can also be invoked using range(start, stop, step) e.g. range(2,10,2)

In [80]:
# series of numbers
for i in range(5):
    print (i)

0
1
2
3
4

In [77]:
for i in range(2,10,1):
    print(i)

2
3
4
5
6
7
8
9

In [49]:
# Exercise
# use for loop to simulate a rocket launch count down
# one simple way is to use a list of numbers for the countdown
# another way is to use range(10,0,-1) to create the numbers

In [84]:
# for - break
# break stops the loop and takes control to the first line outside the for indentation

favorite = "Rajnikant"

heroes = ["This Singh", "That Khan", "Rajnikant", "More kapoor"]

for h in heroes:
    if (h == "Rajnikant"):
        print(h+ "! now we have arrived")
        break
    print("hmm.. "+ h, "? let us go ahead")

print("just after the break statement, we land here")

hmm.. This Singh ? let us go ahead
hmm.. That Khan ? let us go ahead
Rajnikant! now we have arrived
just after the break statement, we land here

In [85]:
# continue stops current iteration and initiates the next iteration
for i in range(5):
    if (i < 3):
        continue
    else:
        print(i)

3
4

In [25]:
# Exercise:
# create a list of months in a calendar year
# select a specific month, say your favorite month
# using for loop, step through the months. when you reach the selected month, print a message
# for all other months, do nothing. hint: use continue

In [92]:
months = ['j','f','m']

for i in months:
    if (i == 'f'):
        print(i, " is my fav month")

f  is my fav month

In [ ]:
# few tricks before the next example

In [32]:
# this is an empty string variable
rev = ""
rev

''

In [35]:
# convert a number to string using str command
num = 12
num_str = str(num)
type(num_str)

str

In [97]:
# concatenate string variables

"good"  + "morning"

'goodmorning'

In [95]:
# Reverse the number 1947 using for loop
# hint you can convert a number to string using the str command. Example str(1947).

# the number
num = 1947
# convert the number to string
num_str = str(1947)

# for loop steps through each letter
for i in num_str:
    print(i)

# create a string variable
rev = ""
for i in num_str:
    rev = i + rev

print(rev)

# convert to int type
int(rev)

1
9
4
7
7491

7491

In [41]:
# Exercise
# given a number, find the max digit. use for loop
# number is 1947

In [53]:
# Exercise
# in many cases, the same logic implemented with a while loop can be accomplished using a for loop
# try calculating the factorial of 7 using a for loop

In [54]:
# Exercise
# the following is a list of marks of students. they pass if it is 40 or more. parse through the 
# list and display a pass or fail result
marks = [100, 75, 65, 36, 56, 83, 92, 47]

In [90]:
# For else
# once the list is exhausted the control flows to else segment if included

# personalized happy birthday greeting
students = ["ajay", "ranjan", "chaitanya"]
for x in students:
    print("Happy Birthday, ", x)
else:
    print("confirmation of completing all elements in the list")

Happy Birthday,  ajay
Happy Birthday,  ranjan
Happy Birthday,  chaitanya
confirmation of completing all elements in the list

In [ ]:
# Exercise:
# loop through 1 to 10. for each number display if it is odd or even

In [ ]:
# Exercise:
# loop through and display each letter in "Mera Bharat Mahaan"

In [67]:
# Exercise:
# modify the previous exercise to avoid displaying space
# hint: compare with " " and use continue

In [21]:
# nested loop
year = [2018, 2019, 2020, 2021]
quarter = ["Q1","Q2", "Q3", "Q4"]

for yr in year:
    for qtr in quarter:
        print (yr, qtr)

2018 Q1
2018 Q2
2018 Q3
2018 Q4
2019 Q1
2019 Q2
2019 Q3
2019 Q4
2020 Q1
2020 Q2
2020 Q3
2020 Q4
2021 Q1
2021 Q2
2021 Q3
2021 Q4

In [64]:
# create numbers from 0 to 99 using nested for loop

for i in range(10):
    for j in range(10):
        print(10*i + j)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [100]:
# Exercise
# imagine a word, for now use "motivation" as the word. 
# ask user to guess the word. the user keys in a letter. you search for that letter in this word using a loop.
# if the letter is present, display a success message, you may also mention how many times the letter occurs in this word.

# for laters: the popular hangman game is based on similar interactions. of course in a more refined way.

In [107]:
# Question:
# What is the difference between range(10), range(0, 10), and range(0, 10, 1) in a for loop?
# verify your answer using a for loop and print statements

#Exercise:  

Tweets use hashtags. For example, here is a tweet: 

The #weather in #Bangalore is #awesome today

Using the statements you have seen in the course so far, try and extract the hashtags.

In [ ]:
The #weather in #Bangalore is #awesome today

In [ ]:
# Exercise
# A student scored the following marks in her XII 100, 90, 96, 98, 85
# set this up as a list and parse using a loop and calculate the total marks

In [ ]:
# calculate the average marks

In [ ]:
# calculate the standard deviation of marks

In [117]:
# display the least and highest marks

In [118]:
# Exercise
# print the frequency of each digit in a given number
# for e.g. if the number is 642130722 then, 0 occurs 1 time, 1 occurs 1 time, 2 occurs 3 times, ...

In [119]:
#Calculate the monthly water bill using the following plan
#For first 50 units Rs. 0.50/unit
#For next 100 units Rs. 0.75/unit
#For next 100 units Rs. 1.20/unit
#For unit above 250 Rs. 1.50/unit
#An additional surcharge of 20% is added to the bill

# the customer used 513 units in the month

In [121]:
# Exercise
# A user requests password reset. Use has to prove their identity using OTP. The user is allowed a fixed number of tries.

# hint: while loop, fixed number of loops. within each loop, ask the user for OTP. if matches then break the loop and exit.
# if OTP does not match then use 'continue' and ask the user for OTP again.

# Exercise
A valid password has to have lowercase letters, upper case letters and numbers
Given a password, check if it is a valid one using for loop.

# Exercise
A list contains book names say 'Abc', 'Xyz', 'Def'
Another list contains the status of these books as 'Available', 'Issued', 'Issued'
Assume a user wants to know if a book is available and enters a name, check if it is in the list and if it is Available.

# Exercise
A palindromes are words which are the same when they are spelt in reverse order, examples RADAR, LEVEL, MADAM, MALAYALAM, NUN, OTTO, REFER.
Given a word, check if it is a palindrome.

# Exercise
You received marks of a few students as a list. Verify if there are any obvious typos in these by checking if any of these marks are negative or more than 100.

# Exercise
In text processing, there are measures of similarity of words. Here is an example: BRAKE and BRAKES have exactly same letters in the first 5 positions. Given two words, compare how many positions are having the same values. So the similarity score is 5.
Write code to take two words as word1 and word2 and calculate their similarity score.

# Exercise
Following the previous question, some measures of similarity count the no of common letters between words.
water and what have 3 letters in common so the similarity score is 3.
Write code to take two words as word1 and word2 and calculate their similarity score.