# multiple assignment

In [ ]:
# assign one value to multiple variables

In [ ]:
a = b = c = 5
print (a,b,c)

In [ ]:
total_math = total_chem = total_phy = 100
math = 99
chem = 98
phy = 100

# calculate % marks for all subjects
print("math marks: ", math / total_math * 100, " %")

In [ ]:
# assign values to multiple variables

In [ ]:
total_math, total_chem, total_phy = 125, 100, 200
math = 99
chem = 98
phy = 100

# calculate % marks for all subjects
print("math marks: ", math / total_math * 100, " %")

In [ ]:
# unpack a list into multiple variables

In [ ]:
total_marks = [125,100,200]
total_math, total_chem, total_phy = total_marks
# calculate % marks for all subjects
print("math marks: ", math / total_math * 100, " %")

# update variable

In [ ]:
# following statement creates and assigns initial value to a variable
total_math = 100

# say there was a change and the total marks was increased by 25

# this is one way
total_math = 125

# this is another way
total_math = total_math + 25

In [ ]:
# here is a short cut
total_math = 100
total_math += 25
total_math

In [ ]:
# Exercise
# consider a non leap year. create a variable for days of a month starting from jan all the way to dec
# initialize the variable with zero. cumulate elapsed days for each month. in the end display the total # of days in the year.

In [ ]:
num_of_days_in_year = 0
# jan
num_of_days_in_year += 31
# feb
num_of_days_in_year += 28
# mar
num_of_days_in_year += 31
# apr
num_of_days_in_year += 30
# may
num_of_days_in_year += 31
# jun
num_of_days_in_year += 30
# jul
num_of_days_in_year += 31
# aug
num_of_days_in_year += 31
# sep
num_of_days_in_year += 30
# oct
num_of_days_in_year += 31
# nov
num_of_days_in_year += 30
# dec
num_of_days_in_year += 31

print(num_of_days_in_year)

In [ ]:
# i track my steps using an app. this week (sunday to saturday), 
# i walked 5000,7500,12000,10000,1200,6700 and 11000 steps.
# create a variable called steps_walked with an initial value of zero.
# update the value to cumulate the steps walked so at the end of the week it holds the total number of steps walked.

# initialize
# sunday
# monday
# tuesday
# wednesday
# thursday
# friday
# saturday

In [ ]:
print(steps_walked)

In [ ]:
# Exercise
# in a recent IPL match, RCB batsmen scored following runs:
# Kohli 47, Plessis 25, Patidar 58, Maxwell 24, Extras 5
# Create variable called RCB_runs with initial value of zero and add up the runs sequentially.
# display the finally runs

In [ ]:
# India, Aus and England play a triangular T20 cricket series
# Each win gets the team 2 points, draw gets 1 point and loss 0.
# initialize points for the three teams as zero. update their points after each match. in the end display the team points.
# During the last week, 5 matches were played
# Ind beat Aus
# Aus beat Eng
# Ind beat Eng
# Eng beat Aus
# Ind beat Aus

In [ ]:
# shortcut updates are available for +, -, * and /

In [ ]:
x = 5
# x += 2
x = x + 2
x

In [ ]:
x = 5
x -= 2
x

In [ ]:
x = 5
x *= 2 # divide x by 2 and assign to x
x

In [ ]:
x = 5
x /= 2
x

# iteration statements
while loop is executed as long as the condition is true

In [ ]:
num = 5
i = 1
while (i < num):
    print(i)
    i += 1

In [ ]:
# what will happen to this statement:

while True:
    # statements

In [ ]:
# what will happen to this statement:

while False:
    print("something")

In [ ]:
# update the code below to produce only 2,3,4 as output
num = 5
i = 1
while (i < num):
    print(i)
    i += 1

In [ ]:
# Exercise
# how many times will this loop get executed

i = 1
while (i < 3):
    print("something")

In [ ]:
# Exercise
# how many times will this loop get executed

i = 1
while (i < 3):
    print("something")
    i += 1

In [ ]:
# Exercise
# using while loop, calculate the factorial of a given number, say 7

In [ ]:
# while - else loop
num = 5
i = 1
while (i <= num):
    print(i)
    i += 1
else:
    print("else:",i)

In [ ]:
# Exercise
# ISRO rockets use a countdown from 10 to 1 and then "We have ignition" as the rockets blasts off to space
# create a while loop which ends in a print statement with the msg displayed

In [ ]:
# break terminates a loop and control passes on to the statement just after the loop

In [ ]:
# while - break
# break stops the while loop and takes the flow to the statement after the while loop

num = 3
i = 0
while (i <= 5):
    print(i)
    i += 1
    if (i == num):
        break

In [ ]:
# use break to stop an infinite loop
i = 0
while True:
    if (i > 5):
        break
    i += 1

In [ ]:
# test for prime number
# check if the number is divisible by any number in the 2,3,... sqrt(number) range
# if the number is not a square number then round down to the closest integer. 
# For e.g. we wish to check if 27 is a prime number then we check from 2,3,..till 5
# check if 213 is a prime number

# break statement is useful to stop the execution once we have a divisor for the number

In [ ]:
# while - continue
# continue stops the current loop and initiate the next loop

stop_at = 6
i = 0
skip_this = 4

while (i <= stop_at):
    if (i== skip_this):
        i += 1
        continue
    else:
        print(i)
        i += 1

In [ ]:
# Exercise
# consider days of a week as numbered 1 to 7 with monday to friday being 1 to 5, 
# saturday is 6 and sunday is 7
# skip the weekdays. print "Good day" for the weekend days.

In [ ]:
# take in start and end of range of numbers
# loop from start up to end of the range, print "odd" or "even" for each number after checking

In [ ]:
# print the digits of a given number
num = 8971309425

while (num != 0):
    last_digit = num % 10
    print(last_digit)
    num = int(num/10)
    print ("number now is ", num)

In [ ]:
# Exercise
# total the digits of a given number
num = 8971309425

In [ ]:
# find the least digits of a given number
num = 947

In [ ]:
# find the least digits of a given number

In [ ]:
# Exercise
# print multiple tables of a given number from 1 to 16
# example, if number is 2 then 2 x 1 = 2, 2 x 2 = 4 .... 2 x 16 = 32

In [ ]:
# Exercise
# Write a Python program to find those numbers which are divisible by 7 and multiple of 5, 
# between 1500 and 2700 (both included)

In [ ]:
loop
    check for divisibility by 5
        check for divisibility by 7
            print number

In [ ]:
# Write a Python program to guess a number between 1 to 9. Go to the editor
# Note : User is prompted to enter a guess. 
# If the user guesses wrong then the prompt appears again until the guess is correct, on successful guess, 
# user will get a "Well guessed!" message, and the program will exit.

In [ ]:
prize = 5

while True:
    guess = int(input("enter number: "))
    if (guess == prize):
        print("awesome")
        break
    else:
        print("try again please")

In [ ]:
# Exercise
# Generate the first 10 numbers of the Fibonacci series
# Every next number is found by adding up the two numbers before it.
# Expected Output : 1 1 2 3 5 8 13 21 34 55

# hint: start with initial values of 0 and 1 to produce the first number. then update them to produce subsequent numbers.

In [ ]:
first = 0
second = 1
while (second < 100):
    next = first + second
    print (second)
    first = second
    second = next

In [ ]:
x,y=0,1

while (y<50):
    print(y)
    x,y = y,x+y

In [ ]:
# Exercise
# sum of numbers from 1,2,3,...n is given by the formula n*(n+1)/2
# verify this

# take n as 20, calculate using formula and verify using while loop

In [ ]:
# Exercise
# stock market is estimated to give a return of about 12% per annum. this means 100 Rs invested becomes 112 in a year.
# if the investor stays invested, then the next year this 112 grows by 12%.
# as a young investor you plan for long term, next 20 years. You wish to have a corpus of 1 Cr.
# what is the initial amount to invest and stay invested for 20 years so the corpus becomes 1 Cr?
# approach this as a "what if" by trying different initial investment amounts

In [ ]:
# Exercise
# reverse a given number

num = 1947

In [ ]:
# Exercise
# list all prime numbers less than 25

# hint: create a while loop to go from 2 to 25. create a while loop within that to check numbers 2 to sqrt(n) as divisor

In [ ]:
# check if a num is prime by considering numbers from 2 to sqrt(number) as divisors

In [ ]:
# check all numbers below given number

In [ ]:
# Exercise
# A student scored the following marks in her XII 100, 90, 96, 98, 85
# set this up as a list and parse using a loop and calculate the total marks

In [ ]:
# calculate the average marks

In [ ]:
# calculate the standard deviation of marks

In [ ]:
# display the least and highest marks