### more print

In [3]:
# Printing text
print("this is fun")

this is fun

In [4]:
print("Hello world")
print("this is fun")

Hello world
this is fun

In [ ]:
# backslash is used to create escape sequences i.e. it escapes the usual and does something else
# \n is used to add a new line.
# \t is used to add a tab
# \\ is used to include \ as part of folder path (we will see this later in the course)

In [12]:
print("hello", "\n", "people", "\n", "of", "\n", "Earth")

hello
 people
 of
 Earth

In [13]:
print("Hello world", "\n", "this is fun") # notice the "\n" newline character

Hello world
 this is fun

In [14]:
# tab character
print("Hello world", "\t", "this is fun")

Hello world 	 this is fun

In [19]:
print(11*2, 2*"One", "s@praxis.ac.in")

22 OneOne s@praxis.ac.in

In [20]:
# add
13 + 12

25

In [21]:
# subtract
13 - 12

1

In [22]:
# multiply
13 * 12

156

In [23]:
# divide
13 / 12

1.0833333333333333

In [24]:
# power of
13 ** 2

169

In [30]:
# more operators: modulus operation returns the remainder
100 % 17

15

In [32]:
# returns the quotient
18 // 5

3

In [33]:
# using calculations in a print
print("I took two numbers and added them. I got this :", 5+6)

I took two numbers and added them. I got this : 11

In [34]:
print("The modulus operation returns the reminder ", 18 % 5)

The modulus operation returns the reminder  3

In [37]:
print("how is this session?" , "is it fun?")

how is this session? is it fun?

# this is a markdown type cell
## there are formats possible here
### header 3
#### header 4
###### header 5

## values and variables

### create variables

In [40]:
my_variable = "Python fan"

In [48]:
print("I am a", my_variable)

I am a Python fan

In [49]:
# this creates a variable with the given name, assigns an integer type value
count_of_pens = 12

In [50]:
# check the type
type(count_of_pens)

int

In [51]:
# create a new float type variable
pens_weight = 1.5

In [52]:
type(pens_weight)

float

In [55]:
# create a new string variable
greetings = "h"
greetings

'h'

In [56]:
type(greetings)

str

In [ ]:
# string can be created using single or double quotes
greetings = 'hello world'
greetings

In [60]:
(5 == 3)

False

In [61]:
T = True
F = False
type(T), type(F)

(bool, bool)

In [62]:
# create a new bolean variable
check = (5 > 3)
check

True

In [63]:
type(check)

bool

In [ ]:
check = (5 < 3)
check

In [ ]:
type(check)

In [ ]:
check = False
type(check)

In [66]:
# there are two ways of displaying values in the variables
count_of_pens * 3 # count of pens in the bag
# count_of_pencils

36

In [69]:
print(count_of_pens)

12

In [71]:
# combine variables in same print 
print("There were ", count_of_pens, "pens in the store. They weigh ", pens_weight, " kgs")

There were  12 pens in the store. They weigh  1.5  kgs

In [72]:
# displaying string variable
lang_name = "Python"
print(lang_name, "is a fun language to learn")

Python is a fun language to learn

In [74]:
# displaying boolean variable
marks = 95
results =  ((marks + 5) >= 40)
print(check)

True

In [75]:
# difference between equality "==" and assignment "=" operators

# when we want to assign a value to a variable, = is used
# when we want to compare two variables / values, == is used

# assign value to a variable 
temperature = 30
day = "Tuesday"
having_fun = True

temperature, day, having_fun

(30, 'Tuesday', True)

In [76]:
# the == operator compares two variables / values and returns a bolean
temperature == 30

True

In [77]:
day == 'Friday'

False

In [78]:
temperature < 30, temperature > 30, temperature <= 30, temperature >= 30

(False, False, True, True)

### use variables in operations

In [82]:
maths = 100
physics = 98
chemistry = 99
biology = 95
english = 87

total_marks = maths + physics + chemistry + biology + english

total_marks

479

In [81]:
sales = 4500
cost = 3500
profit = sales - cost
profit

1000

In [ ]:
unit_price = 4.2
qty = 120
total_amount = unit_price * qty
print(total_amount)

In [ ]:
profit = 1000
shares = 200
profit_per_share = profit / shares
print(profit_per_share)

In [ ]:
profitable = (sales > cost)
profitable

In [83]:
# did the student get full marks in maths?
maths == 100

True

In [84]:
# quotient, remainder

# four friends ate lunch and decided to split the bill
bill_amount = 127
people = 4
bill_amount/people

31.75

In [85]:
bill_amount//people # quotient

31

In [86]:
bill_amount % people # remainder

3

In [87]:
# power operator **
5**2

25

### avoid the reserved keywords as names of variables

Python has a set of keywords that are reserved words that cannot be used as variable names, function names, or any other identifiers

a list can be seen in

https://www.w3schools.com/python/python_ref_keywords.asp

In [93]:
(1) **  (2)

1

In [94]:
# True and False are keywords.
True = 2

SyntaxError: cannot assign to True (303122208.py, line 2)

In [95]:
for = 3

SyntaxError: invalid syntax (191355952.py, line 1)

### order of operation: PEMDAS

(paranthesis exponents multiplication division addition and subtraction)

while computing expressions, this sequence is used

In [ ]:
10 - 2 * 4

In [ ]:
(10 - 2) * 4

In [ ]:
((6+4)*2 - 10)/2 - 4

In [ ]:
(5 - 1) * ((7 + 1) / (3 - 1))

In [ ]:
(5 - 1) * ((7 + 1) / (3 - 1)**2)

In [ ]:
# paranthesis
4 * (8/2**2)

# exponents
4* (8/4)
4 * 2

### precision

In [96]:
10/3

3.3333333333333335

In [97]:
round(10/3, 3)

3.333

### typecast

In [98]:
temperature = 30
type(temperature)

int

In [99]:
str(temperature)

'30'

In [100]:
str_temp = str(temperature)
type(str_temp)

str

In [101]:
int(str_temp)

30

In [ ]:
int_temp = int(str_temp)
type(int_temp)

In [102]:
# boolean can be converted to numbers
# True becomes 1, False 0
True + True + False

2

In [104]:
True * 2

2

In [ ]:
True ** False

In [105]:
marks = 95
result = (marks >= 100)
result

False

In [106]:
result * 2 # boolean is typecast as numeric to execute this calculation

0