# String as a Sequence

In [11]:
# example of a string type value
"The weather is great today"

'The weather is great today'

In [12]:
# examples of string type variables

gender = "M"
weather = "cloudy"
forecast = "The weather is going to be great this weekend"
rollno = "12"
prediction = "True"

In [3]:
"""this is a long string \
this is a long string """

'this is a long string this is a long string '

In [60]:
# multiline string

# instead of " ", use three """ long string """
# use \ character instead of pressing enter which will introduce a \n in the output

long_string = """India's first Bullet Train project will be implemented by the National High Speed Rail \
Corporation Limited (NHSRCL), which recently sealed a deal Larsen & Toubro Limited (L&T) for design as \
well as the construction of about 8 kilometer long viaduct. The project has received all clearances from \
the Maharashtra government."""

In [61]:
long_string

"India's first Bullet Train project will be implemented by the National High Speed Rail Corporation Limited (NHSRCL), which recently sealed a deal Larsen & Toubro Limited (L&T) for design as well as the construction of about 8 kilometer long viaduct. The project has received all clearances from the Maharashtra government."

In [1]:
# concatenate operator
str1 = "Hello"
str2 = " World"
result = str1 + str2

In [2]:
# repeat operator *: Repeats a string a specified number of times.
str1 * 3

'HelloHelloHello'

In [3]:
# membership operator 'in': Checks if a substring exists in the string.
'h' in 'hello'

True

In [1]:
"c" in "cat"

True

In [2]:
"b" not in "cat"

True

In [13]:
# len function returns the total no of characters in a string variable
len(gender)

1

In [14]:
len(weather)

6

In [4]:
# space and ! are also counted by len function
greeting = "Good Morning!"
len(greeting)

14

In [16]:
# Exercise
# what is the length of "I am fine"?

In [1]:
# Exercise
# is it possible to have a string with length zero?

In [3]:
# traversal with a loop

In [7]:
# for loop traverses through strings one character at a time
greeting = "good morning!"
for i in greeting:
    print(i)

g
o
o
d

m
o
r
n
i
n
g
!

In [4]:
# string slices

In [8]:
greeting = "hello!"
len(greeting)

6

In [25]:
# this string has 6 characters. python indexing starts at 0. So these are at positions, 0,1,2,3,4, and 5.
greeting[0], greeting[1],greeting[2],  greeting[3], greeting[4],greeting[5]

('h', 'e', 'l', 'l', 'o', '!')

In [ ]:
# what will be the result of this?
greeting[6]

In [ ]:
#Exercises:
topic = "weather"

# what is the length of topic?
# complete the following like the example below
# weather
# 0123456

In [ ]:
# India
#

In [ ]:
# python
#

In [ ]:
# Jet Airways
#

In [ ]:
# Bengaluru
#

In [2]:
#Exercises:
topic = "weather"
# slice out the first e from topic

In [63]:
# slice out the second e from topic

In [ ]:
# Exercises:

# in each of the following slice out the letter r

text = "ring"
print(text[])

text = "around"
print(text[])

text = "world"
print(text[])

text = "there"
print(text[])

text = "desert"
print(text[])

text = "dessert"
print(text[])

In [ ]:
# Exercises:
# index can be used to extract a subset of strings. [a:b] means starts at a and ends before b
greeting = "good morning!"

# using index subset just "morning" from this
print(greeting[start:stop])

# subset just "good" from this
print(greeting[start:stop])

# subset just the exclamation mark
print(greeting[start:])

In [3]:
# Exercise:
# if [0:3] includes positions 0,1,2, answer the following
# [2:6] includes positions 
# [1:5] includes positions 
# [6:10] includes positions 
# [0:1] includes positions 
# [1:1] includes positions

In [68]:
# what is the length of string extracted by [1:5]?

In [15]:
# Exercise
# extract the o's from greeting
greeting = "good morning"

# good morni n g
# 01234567891011

In [4]:
# Exercise:
# extract 'good' from greeting

#### Slice from the first position

In [37]:
# if the start index is not given it is taken as 0 by default for e.g. [0:2] is the same as [:2]
greeting[:2], greeting[0:2]

('go', 'go')

#### slice till the last position

In [39]:
# if the end is not given it is taken as last character by default
greeting[2:]

'od morning'

#### negative indexing

In [42]:
# this helps start counting from end. -1 is the last position, -2 is before that.
greeting[-1] # returns the last character

'g'

In [43]:
greeting[11] # returns the last character

'g'

In [45]:
# extract the last two characters using positive and negative indexing
greeting[10:], greeting[-2:]

('ng', 'ng')

In [5]:
# Exercise
# extract "morning" using positive and negative indexing

In [6]:
# Exercise
# extract 'go' using positive and negative indexing

In [51]:
# Exercise
# James Bond sends his messages to M and includes his code 007 in the message.
# His recent message was: "AYNJ7K5H63007KBRQAPL423"
# Parse this string to check if 007 is in it.
# Hint: use a loop, extract three letter sequences and compare with 007

In [25]:
# concatenate a string
a = "hello"
b = "world"
c = " "
a + b, a + c + b

('helloworld', 'hello world')

In [27]:
b + c + a

'world hello'

In [75]:
# Exercise
# palindrome is a word which spells the same when reversed. For e.g. LEVEL.
# check if RACECAR is a palindrome
# hint: use loop to step through one letter at a time, concatenate each letter to achieve reverse of the string

In [84]:
# which of these are palindromes?
words = ['bib', 'nun', 'civic', 'deified', 'rotator','stats','tenet']

In [50]:
# Exercise
# from the string "good morning!", remove the space and punctuation
# output should be "goodmorning"

In [86]:
# Exercise
# find the length of the string "good morning" without using len function

In [87]:
# Exercise
# parse the following text to see if it contains a URl. For simplicity, assume URL will be start with "https://www"

In [ ]:
Most web browsers display the URL of a web page above the page in an address bar. A typical URL could have the form https://www.example.com/index.html, which indicates a protocol (http), a hostname (www.example.com), and a file name (index.html).

In [13]:
text = "Most web browsers display the URL of a web page above the page in an address bar. A typical URL could have the form HTTPS://WWW.example.com/index.html, which indicates a protocol (http), a hostname (www.example.com), and a file name (index.html)."

In [15]:
"https://www" in text.lower()

True

In [89]:
# Exercise:
# Following are synonyms of awesome as given by thesaurus.com
# Find the shortest and longest synonyms

In [90]:
synonyms = ["amazing","astonishing","astounding","awe-inspiring","breathtaking","imposing","inspiring","magnificent","majestic","miraculous","spectacular","staggering","stunning","stupefying","sublime","wonderful","wondrous","affecting","arresting","august","exalted","formidable","grand","moving","overwhelming","shocking","solemn","striking","daunting","dreadful","fearsome","intimidating","transcendent"]

In [125]:
# Exercise
# remove duplicate characters from a text
text = "good morning"

# output should be "god mrni"

# if text was hello world, output should be "helo wrd"

In [112]:
# vowels are a,e,i,o,u
# check how many vowels are present in a given text

In [9]:
text = "hello there"

In [113]:
# modify the above example to count consonants and vowels in a text. Assume the text has only english letters

In [116]:
# Exercise
# compare a new string against an existing string. Example, a user has entered their password. You need to compare it against
# the current password.
# one method is to use == and compare the strings. another is to go through each character.
# try both methods.
# current password is &hyRu0876w
# entered password is &hyru0876w

#### string immutability

In [40]:
# python does not allow individual elements to be updated. a new value can however be assigned to the variable
text = "this"
text[0] = "T"

TypeError: 'str' object does not support item assignment

In [119]:
text = "This"

In [41]:
# or
text = "this"
text = "T" + text[1:]
text

'This'

In [124]:
# text is created and a new text variable is created. this is shown from the memory location.

text = "this"
print(id(text))
text = "This"
print(id(text))

2086368823280
2086373818672

In [43]:
# Exercise
# transform given text by shifting every character by a step
# Example: given text is CROW. We shift one step right. It becomes WCRO. If repeated, it becomes OWCR.
# Call this as Shift-Right operation. Shift-Right a given text.

text = "python"

### string methods

In [6]:
# upper
"cat".upper()

'CAT'

In [7]:
pet = "cat"
pet.upper()

'CAT'

In [7]:
text = "ALL In Caps"
text.lower()

'all in caps'

In [10]:
my_pet = "Cat"

if my_pet.lower() == "cat":
    print("wow! cats are cool")

wow! cats are cool

In [17]:
greeting = "good morning!"
greeting.startswith("!"), greeting.endswith("!")

(False, True)

In [4]:
# str.replace(old, new): Replaces occurrences of a substring with another substring.
str1 = "Hello, World"
new_str = str1.replace("World", "Python")
new_str

'Hello, Python'

In [5]:
# count of character in a string
str1 = "Hello, World"
count = str1.count("l")
count

3

In [7]:
# str.find(sub): Returns the lowest index of the first occurrence of a substring. Returns -1 if not found
str1 = "Hello, World"
index_world = str1.find("World")
index_earth = str1.find("Earth")
index_world, index_earth

(7, -1)

In [8]:
# str.split(sep): Splits the string into a list of substrings based on a specified delimiter.
str1 = "apple,banana,orange"
str_list = str1.split(",")
str_list

['apple', 'banana', 'orange']

In [9]:
# str.strip(): Removes leading and trailing whitespaces from the string.
str1 = "   Hello   "
stripped_str = str1.strip()
stripped_str

'Hello'

In [11]:
# there are many more interesting methods to explore
# https://www.w3schools.com/python/python_ref_string.asp

# Exercise
original_str = "python is fun and Python is powerful"

# Your task:
# 1. Convert the entire string to uppercase.
# 2. Replace all occurrences of "Python" with "programming".

# Expected output:
# "PYTHON IS FUN AND programming IS POWERFUL"

In [10]:
# Exercise:
# Split the given string and count the occurrences of a specific substring.

# sentence = "apple, banana, orange, banana, apple, grape, banana"

# Your task:
# 1. Split the sentence into a list of fruits.
# 2. Count the no of fruits in the list
# 3. Count the number of occurrences of the word "banana".

# Expected output:
# List of fruits: ['apple', ' banana', ' orange', ' banana', ' apple', ' grape', ' banana']
# Count of 'banana': 3