# Lists:

In [1]:
lst = [1,2,3,4]
type(lst)

list

In [2]:
# * operator: Repeats a list a specified number of times.
[0] * 20

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [5]:
# List as a Sequence
lst = [1,2,3,"a"]
type(lst), lst

(list, [1, 2, 3, 'a'])

In [2]:
# Traversing a List

In [14]:
# index of lists starts with 0 and not 1
print(lst[0])

1

In [15]:
# index in reverse order starts with -1
print(lst[-1])

a

In [17]:
# this will fetch the 4th element starting from the last one
print(lst[-4])

1

In [4]:
# List Slices
# slicing of lists, including first element mentioned, go on until the last one (excluding)
# including 0 i.e. first element, go on till 2 i.e. third element excluding so until second element 
lst[0:2]

[1, 2]

In [21]:
# similarly using reverse index
lst[-3:-1]

[2, 3]

In [7]:
# missing first element means start from the first element
lst, lst[:-1], lst[-1]

([1, 2, 3, 'a'], [1, 2, 3], 'a')

In [23]:
# missing the second element means until end of the list
lst[1:]

[2, 3, 'a']

In [54]:
# concatenate operation
# This will generate error as + operator with a list expects another list operand
lst + 2

TypeError: can only concatenate list (not "int") to list

In [ ]:
lst = [1,2,3,4]

In [3]:
# in operator
1 in lst

True

In [5]:
# not in
1 not in lst

False

In [23]:
# +: Concatenates two lists
lst + [4,5]

[1, 2, 3, 'a', 4, 5]

In [3]:
# Deleting Elements

In [59]:
tryThis4Fun = [0,1,2,-1,-2]
# delete 0 and the negative values in one go
del(tryThis4Fun[0])
del(tryThis4Fun[2:])
tryThis4Fun

[1, 2]

In [24]:
# remove select element "a"
lst = [1,2,3,"a"]
del(lst[3])
lst

[1, 2, 3]

In [ ]:
# list.remove(x): Removes the first occurrence of a specified value.
list1 = [1, 2, 3, 4, 3]
list1.remove(3)  # Removes the first occurrence of 3
list1

In [9]:
# list.clear(): Removes all elements from the list.
list1 = [1, 2, 3]
list1.clear()
list1

[]

In [10]:
# list.pop([index]): Removes and returns the element at the specified index. 
# If no index is provided, it removes and returns the last element.
list1 = [1, 2, 3]
list1.pop()

3

In [11]:
list1

[1, 2]

In [12]:
popped_element = list1.pop(1)  # Removes and returns the element at index 1
popped_element, list1

(2, [1])

In [ ]:
# insert at a specific position,

In [7]:
list1 = [1, 2, 3]
list1.insert(1, 5)  # Insert 5 at index 1
list1

[1, 5, 2, 3]

In [29]:
# here -2 is inserted at the start of the list
lst.insert(0,-2)
lst

[-2, 1, 2, 3, 'a']

In [8]:
[-2] + lst

[-2, 1, 2, 3, 'a']

In [25]:
# display values of a list
list(lst)

[1, 2, 3]

In [60]:
# assignment of list
x = [1,2,3,4]
y = x
y[0]=7
# does this impact x?
print('x contains' + str(list(x)))
print('y contains' + str(list(y)))
# uh oh, it does. so how do we avoid this?

x contains[7, 2, 3, 4]
y contains[7, 2, 3, 4]

In [69]:
X = [1,9,4,7]
list(X)

[1, 9, 4, 7]

In [68]:
Y

In [61]:
x = [1,2,3,4]
y = list(x)
y[0] = 7
print('x contains' + str(list(x)))
print('y contains' + str(list(y)))

x contains[1, 2, 3, 4]
y contains[7, 2, 3, 4]

In [8]:
# list.reverse(): Reverses the order of the elements in a list.
list1 = [1, 2, 3, 4]
list1.reverse()
list1

[4, 3, 2, 1]

In [26]:
# Python Lists use addressing based on pointers, this applies to arrays and lists and not to atomic objects
# let's check this for atomic objects (like int)
m = 5
n = m
n = 1
print('m is ' + str(m))
print('n is ' + str(n))

m is 5
n is 1

In [14]:
# repetition
# operators change behavior with the variable type, try * with a list
lst * 2

[1, 2, 3, 'a', 1, 2, 3, 'a']

In [31]:
# Mutability of Lists
# updating list elements, here is a replace example
lst = [1,2,3,4,5,6,7,8,9,10]
lst[2] = 12
lst

[1, 2, 12, 4, 5, 6, 7, 8, 9, 10]

In [73]:
# replace 6th to end of sequence elements with a shorter list 
lst.insert(2,[100,2])
lst

[1, 2, [100, 2], 3, 4, 100, 100]

In [32]:
# list with lists as elements
lstolst = [[1,2],[3,4],[5,"a"]]
type(lstolst)

list

In [33]:
print(lstolst)

[[1, 2], [3, 4], [5, 'a']]

In [34]:
# fetch an elements from the list of list
lstolst[1]
# so how can we fetch the '4' within the sublist?

[3, 4]

In [35]:
# treat lstolst like a list and then append [1] to get the second element
lstolst[1][1]

4

Lists and Strings
-----------------
A string is a sequence of characters. A list a sequence of values which can be characters, integers or even another list 
Strings are immutable. 
When using strings, bracket operators cannot be used on the left side of an assignment with the intention
of changing that string.
Lists are mutable. Unlike strings, you can use the bracket operator on the left side of the assignment to change 
an element in a given list.

In [ ]:
list operators: in, not in, len

In [75]:
# in operator
txt = ["This", "is", "a", "fun", "learning", "Python"]
"Python" in txt

True

In [10]:
"Java" not in txt

True

In [12]:
# how many elements are in this list?
len(txt)

6

In [76]:
txt4 = "whats up?"
len(txt4)

9

In [15]:
txt = ["This", "is", "a", "fun", "learning", "Python"]
# iteration
for i in txt:
    print(i)

This
is
a
fun
learning
Python

In [77]:
# list.append(x): Adds an element to the end of the list.
list_gm = []
greeting = "good morning"
for i in greeting:
    print(i)
    list_gm.append(i)

g
o
o
d

m
o
r
n
i
n
g

In [78]:
list_gm

['g', 'o', 'o', 'd', ' ', 'm', 'o', 'r', 'n', 'i', 'n', 'g']

In [10]:
# sort a list

scores = [1,3,2,4,6,0]
copy_scores = list(scores)
scores.sort()
copy_scores, scores

([1, 3, 2, 4, 6, 0], [0, 1, 2, 3, 4, 6])

In [11]:
copy_scores

[1, 3, 2, 4, 6, 0]

In [ ]:
# comparing lists is a fun topic. depending on how you formulate the question the answers can be very different and interesting.
# one question is, are the lists exactly the same?
# do the lists contain the same values, may not be in same order
# does one list contain all the values from the other? i.e. one list is a subset of the other
# what if upper or lower case does not matter? and we want to compare?
# what if we want to ignore all numbers and just compare the text elements of lists?

In [85]:
# compare lists
txt1 = ["Python", "is", "the", "best"]
txt2 = ["PYTHON", "is", "the", "best"]
txt3 = ["Python", "is", "the", "best"]

In [86]:
txt1 == txt2, txt1 == txt3

(False, True)

In [87]:
set(txt1), set(txt2)

({'Python', 'best', 'is', 'the'}, {'PYTHON', 'best', 'is', 'the'})

In [91]:
set(txt1) & set(txt2)

{'best', 'is', 'the'}

In [36]:
set(txt1) & set(txt3)

{'Python', 'best', 'is', 'the'}

In [37]:
set(txt1)

{'Python', 'best', 'is', 'the'}

The collections.Counter() class can be used to compare lists. The counter() function counts the frequency of the items in a list and stores the data as a dictionary object in the format value:frequency. If two lists have the same dictionary output, you can infer that the lists are the same.

# note: dictionary type will be covered in a separate session. for now just see it as a name:value pairs

In [38]:
import collections

l1 = [10, 20, 30, 40, 50]
l2 = [20, 30, 50, 40, 70]
l3 = [50, 20, 30, 40, 10]

if collections.Counter(l1) == collections.Counter(l2):
    print ("The lists l1 and l2 are the same")
else:
    print ("The lists l1 and l2 are not the same")

if collections.Counter(l1) == collections.Counter(l3):
    print ("The lists l1 and l3 are the same")
else:
    print ("The lists l1 and l3 are not the same")

The lists l1 and l2 are not the same
The lists l1 and l3 are the same

In [39]:
# map and reduce is another way of comparing lists.
# https://www.digitalocean.com/community/tutorials/how-to-compare-two-lists-in-python

In [40]:
# Exercises

# consider a list of numbers. get the sum, max, min of the values

In [41]:
# create a list, parse the list and display only the unique values

In [42]:
# create a list, for each unique value, display how many times it appears in the list
# for e.g. [1,2,2,2,3,3,4,4,4,4,4] here 1 appears one time, 2 appears 3 times etc

In [43]:
# check if a list is empty

In [44]:
# remove any negative elements from a list

In [45]:
# a class of students just got their marks. create a list which stores their results as pass or fail. 
# so if the marks was an array, now you have a list which has same length and has results for student in same order.

In [47]:
# create two lists. 
# take the first list, check if each of its values is present in the second list. display if a value is absent in the second.